.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #358597;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #eff4e2;
}

p, h2 {
  font-size: 2rem;
  color: #eff4e2;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

